<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Productivity</title>  
  
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="app">
    <div class="wrapper">
      <table>
        <tr class="tx-minutes">
          <td>Tx minutes</td>
          <td><input type="text" v-model="txMinutes"></td>
        </tr>
        <tr class="productivity">
          <td>Productivity %</td>
          <td><input type="text" v-model="productivity"></td>
        </tr>
      </table>
      <table class="times">
        <col width="40%">
        <col width="40%">
        <col width="20%">
        <tr>
          <th>Time In</th><th>Time Out</th><th>Min.</th>
        </tr>
        <tr v-for="(entry, index) in entries">
          <td><input type="text" v-model="entry.hourIn">&nbsp;:&nbsp;<input type="text" v-model="entry.minIn"></td>
          <td><input type="text" v-model="entry.hourOut">&nbsp;:&nbsp;<input type="text" v-model="entry.minOut"></td>
          <td class="minutes">{{ entry.minutes }}</td>
        </tr>
      </table>
      <div class="buttons">
        <div class="btn"><button @click="addEntry">Add Row</button></div>
        <div class="btn"><button @click="removeEntry">Remove Row</button></div>
        <div class="btn"><button class="calculate" @click="calculateTime">Get Clock Out</button></div>
        <div class="btn"><button class="calculate" @click="calculateProductivity">Get Productivity</button></div>
      </div>
    </div>
  </div>
  <script src="javascript/vue.js"></script>
  <script src="javascript/app.js"></script>
  
</body>
</html>
